* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: url(../image/background.png);
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: Round;
  src: url(../fonts/Round.ttf);
}

.main {
  width: 55em;
  height: auto;
  background: #F7F8F9;
  margin: 0px 10px;
  border-radius: 10px;
  text-align: center;
  font-family: Round;
  padding-bottom: 5px;
}

.main .header {
  height: 2em;
  width: auto;
  background: #F3EEF2;
  border-radius: 10px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header .border {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.main .body {
  background: #FFFFFF;
  width: 95%;
  margin: 15px auto;
  height: auto;
  border-radius: 12px;
  padding: 25px 0px;
}

.main .body .img {
  margin-top: 1em;
  border-radius: 50%;
  width: 18%;
  border: 3px solid #FF3333;
}

.main .body .name {
  font-family: 'Oswald', sans-serif;
  font-size: calc(1.5em + 1.5vw);
  font-weight: 400;
  margin-bottom: 7px;
}

.main .body .more {
  color: #98A1B1;
  font-size: 17px;
  margin-bottom: 10px;
}

.main .body .contain {
  width: 65%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 18px;
  color: #98A1B1;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.main .body .social {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.main .body .social .icon {
  width: 3.2em;
  margin: 0 auto;
  background: #F1F2F4;
  padding: 10px;
  border-radius: 50%;
}

.main .body .social .icon:hover {
  background: #e4e6e8;
}

.main .body .social .instagram {
  margin-left: 20px;
  margin-right: 20px;
}

.main .body .social .tiktok {
  margin-left: 20px;
}

.main .body .button .follow_chat {
  width: 150px;
  text-decoration: none;
  color: #979a9f;
  border: 1px solid #C9CED6;
  padding: 10px 20px;
  font-family: Round;
  border-radius: 50px;
  font-size: 18px;
  background: #fff;
  margin-left: 10px;
}

.main .body .button .follow_chat:hover {
  color: white;
  background: #4BA7FE;
  border: 1px solid #4BA7FE;
}

@media screen and (max-width: 680px) {
  .main .body .img {
    width: 33%;
  }
  .main .body .name {
    font-size: calc(0.9em + 3.2vw);
  }
  .main .body .more {
    font-size: calc(6px + 1.7vw);
  }
  .main .body .contain {
    font-size: calc(8px + 1.5vw);
    width: 95%;
  }
  .main .body .social {
    margin-bottom: 10px;
  }
  .main .body .social .icon {
    width: calc(2.4em + 2vw);
  }
  .main .body .social .instagram {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main .body .social .tiktok {
    margin-left: 10px;
  }
  .main .body .button .follow_chat {
    font-size: 15px;
    padding: 10px 15px;
    width: 100px;
  }
  .main .body .button .chat {
    margin-top: 10px;
  }
  .main .webs {
    font-size: calc(8px + 1.5vw);
  }
}
/*# sourceMappingURL=style.css.map */